# Auto detect text files and perform LF normalization
* text=auto
# .gitattributes
* text=auto eol=lf
*.m text linguist-language=MATLAB
*.mat binary
*.mex* binary
test-results/* merge=ours
code-coverage/* merge=ours
